@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none !important;
}

html {
    font-family: 'Poppins', sans-serif !important;
}

body {
    min-height: 100vh;
    @apply dark:bg-[#FFFFFF] bg-[#FFFFFF];
}
